@"
# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
icons/
output/
libs/
*.pyo
*.pyc
tests/
venv/
venv1/

# Logs em qualquer pasta
**/*.log
logs/
tests/*.log

# VS Code
.vscode/
"@ | Set-Content -Path .gitignore -Encoding UTF8